

<mat-card class="gewicht-card">
<form class="gewicht">
  <mat-form-field class="example-full-width">
    <mat-label>Gewicht</mat-label>
    <input id="gewicht" matInput >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Geef toelichting</mat-label>
    <textarea id="tekst" matInput ></textarea>
  </mat-form-field>

  <button mat-button (click)="onClickMe()">Submit</button>

  
</form>

</mat-card>
<mat-card class="overzicht-card">
  <div id="huidig">
</div>
<div id="toekomst"></div>
<div id="voorspelling"></div>

 
<button mat-button (click)="maakVoorspelling()">Voorspel</button>
  
  </mat-card>
  <mat-card class="doel-card">
    <form class="gewicht">
      <mat-form-field class="example-full-width">
        <mat-label>Doel</mat-label>
        <input id="doel" matInput >
      </mat-form-field>
      <button mat-button (click)="setDoel()">Submit</button>

  </form>
    
    </mat-card>
<router-outlet></router-outlet>
